@import "compass/css3";

body {
    background-image: url(back.png);
    color: white;
    background-position: center;
    height: 100%;
    font-family: Xolonium;
}

h1 {
    
    margin-left:20px
}

.center {
    text-align:center;
    display:block;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:  #ffffff00;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:  #ffffff00;
    color: white;
    text-shadow: 0 0 20px #fff, 0 0 30px #0ff;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: tomato;
}

li {
    display: inline;
}

.golink a {
  /*color: white;
  background-color: #ffffff00;*/
  /*overflow:visible;*/
  /*text-shadow: 1.25px 1.25px #0ff;
  width: 150px;
    height: 1px;
    /*background-color: #fff;*/

    /*box-shadow: 0px 25px 5px .01px #0ff;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */

    text-shadow:1px 1px 10px #fff, 1px 1px 10px #0ff;
}
 
.golink a:hover {
  /*pulse on hover*/
  /*-webkit-animation: pulse 3s infinite;*/
  -webkit-animation: pulse 1s ease-in-out infinite alternate;
}

.backlink a {
  /*color: white;
  background-color: #ffffff00;*/
  /*overflow:visible;*/
  /*text-shadow: 1.25px 1.25px #0ff;
  width: 150px;
    height: 1px;
    /*background-color: #fff;*/

    /*box-shadow: 0px 25px 5px .01px #0ff;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */

    text-shadow:1px 1px 10px #fff, 1px 1px 10px #08a15c;
}
 
.backlink a:hover {
  /*pulse on hover*/
  /*-webkit-animation: pulse 3s infinite;*/
  -webkit-animation: pulseback 1s ease-in-out infinite alternate;
}

.lorelink {
  text-shadow:.25px .25px 5px #000, 1px 1px 10px #0ff;
}
.lorelink a:hover {
  -webkit-animation: pulse 1s ease-in-out infinite alternate;
}

@-webkit-keyframes pulse {
  /*TODO: add more frames*/
  /*0% { text-shadow:1px 1px 10px #fff, 1px 1px 10px #0ff; }
  50% { text-shadow:10px 10px 10px #fff, 10px 10px 10px #0ff; }
  100% { text-shadow:1px 1px 10px #fff, 1px 1px 10px #0ff; }*/
  /*from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }*/
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #0ff;
  }
}

@-webkit-keyframes pulseback {
  /*TODO: add more frames*/
  /*0% { text-shadow:1px 1px 10px #fff, 1px 1px 10px #0ff; }
  50% { text-shadow:10px 10px 10px #fff, 10px 10px 10px #0ff; }
  100% { text-shadow:1px 1px 10px #fff, 1px 1px 10px #0ff; }*/
  /*from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }*/
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #08a15c;
  }
}

.sidenav {
  /*float: left;
  width: 50px;
  overflow: hidden;*/
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff00;
  overflow-x: hidden;
  padding-top: 20px; 
  padding-bottom: 20px;
  border: 1px solid white;
  margin-left: 10px;
  background-color: black;
}

.big {
  font-size: 25px;
}

.projecttitle {

}
.projecttitle a:hover{
  -webkit-animation: pulse 1s ease-in-out infinite alternate;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  display: block;
  font-size: 17px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid white;
}

.lorecontent {
  /*float: right;
  width: auto;*/
  margin-left: 160px; /* Same as the width of the sidenav */
  margin-right: 10px;
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  border: 1px solid white;
  overflow-wrap: break-word;
}

.overflow {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
} 

.fade {
  overflow: hidden;
position: fixed;
width: 100%;
min-height: 200vh;
top: 100px;
background-image: linear-gradient(transparent, black 60%);
z-index: 1;
}

mark {
    background-color: black;
    color: white;
}

@font-face {
    font-family: 'Xolonium';
    src: url('Xolonium-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.container {
    position: relative;
    width: auto;
    text-align:center;
    display:inline-block;
    width: 100%;
}

.group {
    text-align:center;
    padding: 50px;
}

.hoverimage {
    
    text-align:center;
    
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    width: auto;

    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: 
    translate(-50%, -50%);
    -ms-transform:
    translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
  -webkit-animation-name: hvr-wobble-top;
  animation-name: hvr-wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.bottomnav {
  background-color:  black;
  overflow: hidden;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the links inside the navigation bar */
.bottomnav a {
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display:inline-block;
  
}

/* Change the color of links on hover */
.bottomnav a:hover {
  background-color:  #ffffff00;
  color: white;
  text-shadow: 0 0 20px #fff, 0 0 30px #0ff;
}

/* Add a color to the active/current link */
.bottomnav a.active {
  background-color: #4CAF50;
  color: tomato;
}

.censor {
  background-color: black;
  color: black;
}
.censor:hover {
  background-color: #ffffff00;
  color: white;
}
a {
    text-decoration: none;
    color: white;
}
.hidden {
    background-color: #ffffff00;
    color: #ffffff00;
}
.hidden:hover {
    background-color: #ffffff00;
    color: white;
}

.content {
    
}

